@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu:wght@300&display=swap');

body{
    display: flex;
    justify-content: center;
    background-color: #9e9e9e;
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
}

p{
    text-align: center;
    margin-top: 10px;
    padding: 0;
    color: #000000;
}
span{
    color: #FFFFFF;
}

.main-div{
    text-align: center;
    display: inline-block;
    border: solid;
    border-color: #fba92c;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.display-div{
    text-align: right;
    color:#FFFFFF;
    background-color: #000000;
    font-size: 1.2rem;
}
#display{
    color:#fba92c;
}
#display-result{
    border-style: none none solid none;
    border-color: #fba92c;
}

.buttons-div{
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(5, 70px);
    gap: 1px;
    background-color: #9e9e9e;
}
.buttons{
    font-family:inherit;
    font-size: 1.01rem;
    font-weight: 500;
    list-style: none;
    color: inherit;
    text-decoration: none;
    background-color: #000000;
    cursor: pointer;
    line-height: normal;
}

.buttons:hover{
    background-color: #9e9e9e;
}

#clear{
    grid-area: 1/1/2/3;
    color: #fba92c;
}
#divide{
    grid-area: 1/3/2/4;
}
#multiply{
    grid-area: 1/4/2/5;
}
#subtract{
    grid-area: 2/4/3/5;
}
#add{
    grid-area: 3/4/4/5;
}
#equals{
    grid-area: 4/4/6/5;
}
#zero{
    grid-area: 5/1/6/3;
}
